.venv
.venv/*
.idea/*
.idea
build/*
node_modules
node_modules/*
third_party
third_party/*
build_tools/__pycache__
build_tools/__pycache__/*
dist
dist/*
.ipynb_checkpoints
src/app/node_modules
src/app/node_modules/*
src/app/.yarn
src/app/.yarn/*
.yarn/
.yarn/*